<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deean.tkmapperdemo.mapper.BooksMapper">
  <resultMap id="BaseResultMap" type="com.deean.tkmapperdemo.bean.Books">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="book_id" jdbcType="CHAR" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
    <result column="book_cover" jdbcType="VARCHAR" property="bookCover" />
    <result column="book_price" jdbcType="DOUBLE" property="bookPrice" />
    <result column="book_desc" jdbcType="VARCHAR" property="bookDesc" />
    <result column="book_stock" jdbcType="INTEGER" property="bookStock" />
    <result column="book_type" jdbcType="INTEGER" property="bookType" />
  </resultMap>
</mapper>