<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deean.dnmall.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.deean.dnmall.bean.Order">
            <id property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="orderProducts" column="order_products" jdbcType="VARCHAR"/>
            <result property="orderReceiverName" column="order_receiver_name" jdbcType="VARCHAR"/>
            <result property="orderReceiverMobile" column="order_receiver_mobile" jdbcType="VARCHAR"/>
            <result property="orderReceiverAddress" column="order_receiver_address" jdbcType="VARCHAR"/>
            <result property="orderTotalAmount" column="order_total_amount" jdbcType="DECIMAL"/>
            <result property="orderActualAmount" column="order_actual_amount" jdbcType="INTEGER"/>
            <result property="orderPayType" column="order_pay_type" jdbcType="INTEGER"/>
            <result property="orderRemark" column="order_remark" jdbcType="VARCHAR"/>
            <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
            <result property="orderDeliveryType" column="order_delivery_type" jdbcType="VARCHAR"/>
            <result property="orderDeliveryId" column="order_delivery_id" jdbcType="VARCHAR"/>
            <result property="orderFreight" column="order_freight" jdbcType="DECIMAL"/>
            <result property="orderDeleteStatus" column="order_delete_status" jdbcType="INTEGER"/>
            <result property="orderCreateTime" column="order_create_time" jdbcType="TIMESTAMP"/>
            <result property="orderUpdateTime" column="order_update_time" jdbcType="TIMESTAMP"/>
            <result property="orderPayTime" column="order_pay_time" jdbcType="TIMESTAMP"/>
            <result property="orderDeliveryTime" column="order_delivery_time" jdbcType="TIMESTAMP"/>
            <result property="orderFinishTime" column="order_finish_time" jdbcType="TIMESTAMP"/>
            <result property="orderCancelTime" column="order_cancel_time" jdbcType="TIMESTAMP"/>
            <result property="orderCloseType" column="order_close_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,user_id,order_products,
        order_receiver_name,order_receiver_mobile,order_receiver_address,
        order_total_amount,order_actual_amount,order_pay_type,
        order_remark,order_status,order_delivery_type,
        order_delivery_id,order_freight,order_delete_status,
        order_create_time,order_update_time,order_pay_time,
        order_delivery_time,order_finish_time,order_cancel_time,
        order_close_type
    </sql>
</mapper>
