<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deean.dnmall.mapper.ProductImageMapper">

    <resultMap id="BaseResultMap" type="com.deean.dnmall.bean.ProductImage">
            <id property="imageId" column="image_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="imageSort" column="image_sort" jdbcType="INTEGER"/>
            <result property="imageMain" column="image_main" jdbcType="INTEGER"/>
            <result property="imageCreatedTime" column="image_created_time" jdbcType="TIMESTAMP"/>
            <result property="imageUpdatedTime" column="image_updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        image_id,product_id,image_url,
        image_sort,image_main,image_created_time,
        image_updated_time
    </sql>
    <select id="selectProductImageByProductId" resultMap="BaseResultMap">
        select image_id,
               product_id,
               image_url,
               image_sort,
               image_main,
               image_created_time,
               image_updated_time
        from product_image
        where product_id = #{productId}
    </select>
</mapper>
