<!DOCTYPE html>
<html lang="">

<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="content-type" content="no-siteapp"/>

    <link rel="stylesheet" href="static/css/amazeui.css"/>
    <link href="static/css/dlstyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
</head>

<body>

<div class="login-boxtitle" style="height: 100px;">
    <div class="logoBig">
        <img src="static/images/logo.png" style="margin-left: 0 ; height: 100px;" alt="">
    </div>
</div>

<div class="login-banner" style="background: rgb(142,213,21);">
    <div class="login-main">
        <div class="login-banner-bg"><span></span><img width="400" src="static/images/act2.png" alt=""/></div>

        <div class="login-box" id="container">
            <h3 class="title">用户注册</h3>
            <h5 :style="colorStyle">&nbsp;{{tips}}</h5>
            <div class="clear"></div>
            <div class="login-form" style="background: none;">
                <form>
                    <div class="user-name">
                        <label for="user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
                        <input type="text" v-model="user.username" placeholder="邮箱/手机/用户名"
                               @keyup="checkRegistInfo" id="user">
                        <br/>
                    </div>

                    <div class="user-pass" style="margin-top: 15px;">
                        <label for="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
                        <input type="password" v-model="user.password" placeholder="请输入密码" @keyup="checkRegistInfo"
                               id="password">
                    </div>
                    <div class="user-pass" style="margin-top: 15px;">
                        <label for="repassword"><span class="glyphicon glyphicon-lock"
                                                      aria-hidden="true"></span></label>
                        <input type="password" v-model="user.repassword" placeholder="请再次输入密码"
                               @keyup="checkRegistInfo" id="repassword">
                    </div>
                </form>
            </div>
            <div class="login-links"><br/></div>
            <div class="am-cf">
                <input type="button" @click="doRegist" value="提交注册" class="am-btn am-btn-primary am-btn-sm">
            </div>
            <div class="partner"></div>
        </div>
    </div>
</div>

<div class="footer ">
    <div class="footer-hd ">

    </div>
    <div class="footer-bd ">
        <p>
            <a href="#">联系我们</a>
            <a href="#">网站地图</a>
        </p>
    </div>
</div>

<script type="text/javascript" src="static/js/vue.global.js"></script>
<script type="text/javascript" src="static/js/axios.min.js"></script>
<script type="text/javascript" src="static/js/base.js"></script>
<script type="text/javascript">
    baseUrl = "http://localhost:8080/";
    const app = Vue.createApp({
        data() {
            return {
                tips: "",
                colorStyle: "color:red",
                user: {
                    username: "",
                    password: "",
                    repassword: ""
                },
                isRight: false
            }
        },
        methods: {
            doRegist() {
                if (this.isRight) {
                    axios({
                        method: "post",
                        url: baseUrl + "user/register",
                        header: {
                            'Content-Type': 'application/json'
                        },
                        data: {
                            username: this.user.username,
                            password: this.user.password
                        }
                    }).then((res) => {
                        if (res.data.code === 10000) {
                            this.tips = "注册成功";
                            this.colorStyle = "color:green";
                            setTimeout(function () {
                                window.location.href = "login.html";
                            }, 3)
                        } else {
                            this.tips = "注册失败";
                        }
                    });
                } else {
                    this.tips = "请确认注册信息正确";
                }
            },
            checkRegistInfo() {
                if (this.user.username === "") {
                    this.tips = "请输入用户名";
                    this.isRight = false;
                } else if (this.user.username.length < 8 || this.user.username.length > 20) {
                    this.tips = "用户名长度必须为8到20字符";
                    this.isRight = false;
                } else {
                    if (this.user.password === "") {
                        this.tips = "请输入密码";
                        this.isRight = false;
                    } else if (this.user.password.length < 6 || this.user.password.length > 16) {
                        this.tips = "用户名长度必须为6到16字符";
                        this.isRight = false;
                    } else {
                        if (this.user.repassword === "") {
                            this.tips = "请再次输入密码";
                            this.isRight = false;
                        } else if (this.user.repassword !== this.user.password) {
                            this.tips = "两次密码输入不一致";
                            this.isRight = false;
                        } else {
                            this.tips = "";
                            this.isRight = true;
                        }
                    }
                }
            }
        }
    })
    app.mount('#container')
</script>
</body>
</html>