<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deean.mybatisplusdemo.mapper.MemberMapper">

    <resultMap id="BaseResultMap" type="com.deean.mybatisplusdemo.bean.Member">
            <id property="memberId" column="member_id" jdbcType="INTEGER"/>
            <result property="memberNick" column="member_nick" jdbcType="VARCHAR"/>
            <result property="memberGender" column="member_gender" jdbcType="CHAR"/>
            <result property="memberAge" column="member_age" jdbcType="INTEGER"/>
            <result property="memberCity" column="member_city" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        member_id,member_nick,member_gender,
        member_age,member_city
    </sql>
</mapper>
